body {
	background-color: #043A6B;
	color: #f8f8fa;
}

h1 {
	font-family: "Coda Caption","Source Code Pro",helvetica,arial,sans-serif;
}

p {
	font-family: helvetica,arial,sans-serif;
}

ul {
	font-family: "Source Code Pro",sans-serif;
}

table {
	width:75%;
}

table,th,td {
	border:1px solid #f8f8fa;
	border-collapse:collapse;
}

th,td {
	padding:5px;
	vertical-align: middle;
}

td {
	font-family: "Source Code Pro",helvetica,arial,sans-serif;
}

th {
	background-color: #A66100;
	font-weight: bold;
	font-family: "Coda Caption";
}

a:link {
	color:#f8f8fa;
}

a:visited {
	color:#f8f8fa;
}

a:hover {
	color:#f8f8fa;
}

a:active {
	color:#f8f8fa;
}