h1 {
	text-decoration: underline;
	font-size: 3.5em;
}

body {
	background-color: #161840;
	color: #F0E8E5;
	font-family: sans-serif;
}

ul {
	list-style: decimal-leading-zero;
}

div {
	position: relative;
	margin-left: 200px;
}

.newitem {
	font-size: 1.5em;
}

.upload {
	font-size: 1.5em;
}

input, textarea {
	background-color: #161840;
}

a:hover {
	color: #DEAF0B;
}

a:active {
	color: #F0E8E5;
}

.trademark {
	font-family: 'Roboto Slab', serif;
	font-size: 1em;
}

img:hover {
	border: 1px solid black;
	margin-left: 10px;
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}