.clickable {
	cursor: pointer;
}
.question {
	cursor: help;
}
#big-block {
	width: 606px;
	height: 606px;
}
.small-block {
	width: 200px;
	height: 200px;
	float: left;
	border: 1px solid black;
}
.bird {
	display: none;
	background-image: url('../img/flappysmall.png');
	background-repeat: no-repeat;
	width: 199px;
	height: 140px;
	margin-top: 12%;
}
body {
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#score {
	font-size: 2em;
}
#timer {
	font-size: 2em;
}
p {
	font-size: 1.5em;
}
#lose {
	color: #F00;
	font-size: 5em;
	display: none;
}
.animated { 
    -webkit-animation-duration: 2.3s; 
    animation-duration: 2.3s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-timing-function: linear; 
    animation-timing-function: linear; 
} 
@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 
@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 
.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}