h1 {
	font-size: 3.5em;
}

body {
	color: #F0E8E5;
	font-family: sans-serif;
}

a:active {
	color: #F0E8E5;
}

.trademark {
	font-size: 1em;
	color: #F0E8E5;
	position: fixed;
	bottom: 1px;
	left: 1px;
}
td {
	font-size: 2em;
}
#add-items {
	position: absolute;
}